/* ===== VARIÁVEIS E CORES ===== */

:root {
    --primary-color: #5ec57e;
    --secondary-color: #347571;
    --terciary-color:  #ecf8e5;
    --warning: #ffc107;
    --border-color: #dddddd;
    --light-color: #ffffff;
}

.secondary-color {
    color: var(--secondary-color);
}

.primary-color {
    color: var(--primary-color);
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.bg-terciary {
    background-color: var(--terciary-color);
}

.white-text {
    color: white;
}


/* ===== CONFIGURAÇÕES GERAIS ===== */

.iosevka-font-bolder {
    font-family: "Iosevka Charon", monospace;
    font-weight: 700;
    font-style: normal;
}

.iosevka-font-medium {
    font-family: "Iosevka Charon", monospace;
    font-weight: 500;
    font-style: normal;
}

.google-sans-regular {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

body {
    margin: 0 auto;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    line-height: 1.5;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem; 
}

h2 {
    font-size: 1rem;
    margin: 2rem 0;
}

a {
    text-decoration: none;
}

hr {
    border: none;
    border-top: 1px solid var(--primary-color);
}

/* ===== BARRA DE NAVEGAÇÃO ===== */

nav {
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 5px 5px 30px var(--border-color);
}

nav a {
    font-size: 2em;
    font-family: 'Encode Sans Semi Expanded', serif;
    font-weight: 700;
    color: var(--secondary-color);
    text-align: center;
}

nav div {
    margin: 0 2rem;
    padding: 2rem 0.25rem;
}

.nav-items a {
    font-size: 1.5rem;
    color: var(--primary-color)
}

.nav-items a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
    cursor: pointer;
}

/* ===== RODAPÉ ===== */

footer {
    background-color: var(--light-color);
    text-align: center; 
    padding: 1.5rem;
    margin-top: auto;
    box-shadow: 0px 0px 10px var(--border-color);
    font-size: 0.875rem;
}

footer img {
    height: auto;
    max-width: 11rem;
}


/* ===== CONFIGURAÇÕES DE LAYOUT ===== */

.content {
    min-height: 80vh;
    padding: 1em 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flex-column {
    flex-direction: column;
}

.flex-container {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: start;
}

.col-txt, .col-img {
    flex: 1;
    padding: 0.5em;
    margin: 1em 0;
}

.col-txt {
    text-align: center;
    font-size: 1.875em;
}


/* ===== BOTÕES ===== */

.btn {
    border-radius: 30px;
    padding: 1em 2em;
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.green-btn {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
}

.green-btn:hover {
    color: var(--secondary-color);
    background-color: var(--light-color);
    border: 1px solid var(--secondary-color);
}

.yellow-btn {
    background-color: var(--warning);
    border: 1px solid #000000;
}

.accordion {
    width: 50%;
    border-radius: 10px;
    margin: 10px;
}

/* ===== INPUTS E SELETORES ===== */

input[type=text], select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid var(--border-color);
    box-shadow: 0px 2px 5px var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}

input:focus {
    outline: none;
}

/* ==== TABELAS E GRIDS ==== */
table {
  border-collapse: separate;
  border-spacing: 1rem;
}

tr {
    border: 1px solid var(--border-color);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow-wrap: break-word;
    hyphens: auto;
    padding: 0.5em;
}

.grid-box {
    background-color: var(--light-color);
    padding: 0.625em;
    margin: 2.5rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px var(--border-color);
}

/* ==== SVGS ==== */

.svg-big {
    height: auto;
    max-width: 500px;
}

.svg-small {
    height: auto;
    max-width: 100px;
}

.svg-smallest {
    height: auto;
    max-width: 50px;
}

/* ===== INDEX ===== */

.divider {
    aspect-ratio: 960/300;
    background-color: no-repeat center;
    background-size: cover;
}

/* .wave-1 {
    background-image: url('../images/index/wave-haikei.svg');
} */

.wave-2 {
    background-image: url('../images/index/wave-haikei2.svg');
}

.seeMore {
    margin: 0;
}

/* ===== CONVERSOR DE BASES ===== */

.equal-sign {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px 10px;
}

.conversor-container {
    padding: 1rem 10%;
    border-radius: 20px;
}

.panel {
    width: 50%;
    padding: 1.125rem;
    display: none;
    overflow: hidden;
}

#bit-grouping table {
    width: fit-content;
    border-collapse: separate;
}

#bit-grouping table td {
    border: 1px solid var(--border-color);
}

#conversor-guide-img {
    height: auto;
    max-width: 650px;
}

/* ===== RESPONSIVIDADE ===== */

@media (min-width: 320px) and (max-width: 768px) {
    nav a {
        padding: 1rem;
        font-size: 2em;
    }

    h1 {
        font-size: 1.75rem;
        margin: 2rem;
    }

    h2 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .col-img {
        display: none;
    }

    .content {
        min-height: 0;
    }

    .col-txt {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .col-txt p{
        font-size: 1.5rem;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .conversor-container {
        padding: 0;
        flex-direction: column;
    }

    .conversor-box {
        display: flex;
        flex-direction: row;
    }

    .conversor-box select {
        max-width: 35%;
    }

    .conversor-box input {
        margin-right: 10px;
    }

    .panel {
        width: 100%;
    }

    #notation-img {
        height: auto;
        max-width: 300px;
    }

    #conversor-guide-img {
        height: auto;
        max-width: 320px;
    }

    .svg-smallest {
        max-width: 50px;
    }

    .seeMore {
        display: block;
    }

    .equal-sign {
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    nav a {
        padding: 1rem;
        font-size: 2em;
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }

    .content {
        min-height: 0;
    }

    .col-txt {
        text-align: center;
        margin-top: 2rem;
        padding: 0;
    }

    .col-txt p{
        font-size: 1.5rem;
    }

    .seeMore button {   
        padding: 1rem;
        margin: 0;
        height: auto;
        width: 41%;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .conversor-container {
        max-width: 100%;
    }

    .panel {
        width: 100%;
    }

    #notation-img {
        height: auto;
        max-width: 400px;
    }

    .svg-big {
        max-width: 400px;
    }

    .svg-smallest {
        max-width: 50px;
    }
}