/* ===== CONFIGURAÇÕES GERAIS E DE TEXTO ===== */

.iosevka-font-bolder {
    font-family: "Iosevka Charon", monospace;
    font-weight: 700;
    font-style: normal;
}

.iosevka-font-medium {
    font-family: "Iosevka Charon", monospace;
    font-weight: 500;
    font-style: normal;
}

.google-sans-regular {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "GRAD" 0;
}

body {
    margin: 0 auto;
    background: white;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
}


h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px; 
}

p {
    line-height: 1.5;
}

hr {
    border: none;
    border-top: 1px solid #5ec57e;
}

.flex-container {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-start {
    align-items: start;
}

.white-text {
    color: white;
}

.dk-green-text {
    color: #347571;
}

.green-text {
    color: #5ec57e;
}

.bg-green-pastel {
    background-color: #ecf8e5;
}

.bg-green {
    background-color: #5ec57e;
}

.bg-dk-green {
    color: #347571;
}


/* ===== BARRA DE NAVEGAÇÃO ===== */

nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;
    box-shadow: 5px 5px 30px lightgray;
}

nav h1 {
    flex: auto;
    margin: 0 2rem;
    padding: 2rem 0.25rem;
    font-size: 2em;
    font-family: 'Encode Sans Semi Expanded', serif;
}
 

nav h1 a {
    text-decoration: none;
    padding: 0.25rem 0.5rem;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0 2rem;
    padding: 0;
}

nav ul li a, nav ul li span, header .action {
    display: block;
    padding: 0.5rem;
}

/* ===== RODAPÉ ===== */

footer {
    background-color: #fff;
    text-align: center;
    color: #2d1d73;
    padding: 1.5rem;
    margin-top: auto;
    box-shadow: 0px 0px 10px lightgray;
    font-size: 0.875rem;
    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
}

footer img {
    height: 3.55rem;
    width: 11rem;
}

/* ===== CONTEÚDO ===== */

.content {
    min-height: 80vh;
    padding: 1em 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: red; */
}

.content-column {
    flex-direction: column;
    justify-content: start;
}

/* ===== PÁGINA DE INDEX ===== */

.divider {
    aspect-ratio: 960/300;
    background-color: no-repeat center;
    background-size: cover;
}

.wave-1 {
    background-image: url('../images/index/wave-haikei.svg');
}

.wave-2 {
    background-image: url('../images/index/wave-haikei2.svg');
}

.svg-big {
    height: auto;
    width: 500px;
}

.svg-small {
    height: auto;
    width: 100px;
}

.svg-smallest {
    height: auto;
    width: 50px;
}

.col-txt, .col-img {
    flex: 1;
    padding: 10px;
}

.col-txt {
    text-align: start;
    font-size: 30px;
    padding: 2rem 0 0 0;
}

.green-btn {
    background-color: #5ec57e;
    border-radius: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    overflow-wrap: break-word;
    hyphens: auto;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    padding: 10px;
}

.grid-box {
    background-color: #fff;
    padding: 10px;
    margin: 2.5rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px gray;
}

/* ===== SELETORES E ENTRADAS ===== */

input[type=text], select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
}

input:focus {
    outline: none;
}

#nformat {
    width: 30%;
}

/* ==== TABELAS ==== */
table {
  border-collapse: collapse;
  width: 50%;
}

tr {
    border: 1px solid #ddd;
}

/* ===== CONVERSOR DE BASES ===== */

.equal-sign {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 10px 10px;
}

.format-box {
    padding: 1rem 10%;
    border-radius: 20px;
}

.teste {
    min-width: 100%;
}

.accordion {
    border: none;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.accordion:hover {
    background-color: #347571;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}