    {% extends 'base.html' %}

    {% block header %}{% endblock %}

    {% block content %}
    <section class="content flex-column">
        <div>
            <h1 class="secondary-color ">Conversor de Bases</h1>
            <div class="conversor-container flex-container">
                <div class="conversor-box">
                    <input type="text" id="origin-input" class="google-sans-regular" placeholder="Digite um numeral">
                    <select id="base-origin">
                        <option>Decimal</option>
                        <option>Binário</option>
                        <option>Hexadecimal</option>
                        <option>Octal</option>
                    </select>
                </div>
                <div class="equal-sign">
                    <img src="{{ url_for('static', filename='images/conversor/equal.svg') }}" class="svg-smallest">
                </div>
                <div class="conversor-box">
                    <input type="text" id="destiny-input" class="google-sans-regular" readonly placeholder="E ele será convertido.">
                    <select id="base-destiny">
                        <option>Decimal</option>
                        <option>Binário</option>
                        <option>Hexadecimal</option>
                        <option>Octal</option>
                    </select>
                </div>
            </div>
        </div>
        <h1 class="secondary-color">Métodos de conversão</h1>
        <button class="accordion btn green-btn">Divisões Sucessivas</button>
        <div class="panel">
            <div id="successive-division" style="display: none;">
                <p>Este método consiste em realizar a divisão inteira (do número e do quociente)
                    sucessiva pela base escolhida, até que o quociente seja menor que a base. É possível
                    somente quando a base de origem é a decimal. <b>Leia de baixo para cima!</b>
                </p>
                <div class="flex-container justify-center">
                    <table>
                        <thead>
                            <tr>
                                <th>Dividendo</th>
                                <th>Base</th>
                                <th>Quociente</th>
                                <th>Resto</th>
                            </tr>
                        </thead>
                        <tbody id="division-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info"><p>Aplica-se somente quando a base a ser convertida é <b>decimal</b> e a base final é <b>qualquer outra</b>.</p></div>
        </div>
        <button class="accordion btn green-btn">Notação Polinomial</button>
        <div class="panel">
            <div id="polinomial-notation" style="display: none;">
                <p>
                    A notação posicional atribui valores aos algarismos com base na sua posição, onde 
                    cada dígito é multiplicado por uma potência da base escolhida. Para converter qualquer base para decimal, 
                    somam-se esses valores ponderados. Isso pode ser visto em detalhes pela fórmula a seguir.
                </p>
                <img src="{{ url_for('static', filename='images/conversor/formulanotacao.png') }}" alt="" id="notation-img">
                <p>Utilizando o exemplo fornecido: </p>
                <p id="expression"></p>
            </div>
            <div class="info"><p>Aplica-se somente quando a base a ser convertida é <b>qualquer uma sem ser a decimal</b>, enquanto que a base desejada é <b>decimal</b>.</p></div>
        </div>
        <button class="accordion btn green-btn">Agrupamento</button>
        <div class="panel">
            <div id="bit-grouping" style="display: none;">
                <p>
                    O agrupamento de bits é um método rápido de conversão entre bases numéricas que são potências de 2, 
                    como binário para octal (grupos de 3 bits) ou hexadecimal (grupos de 4 bits). Desse modo, se o número
                    em binário não é divisível por 3 ou por 4, é necessário colocar números à esquerda do número para que
                    a conversão aconteça.
                </p>
                <div class="flex-container justify-center">
                    <table>
                        <tbody id="bit-table">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info"><p>Aplica-se somente quando a base a ser convertida é <b>octal ou hexadecimal</b> e a base final é <b>binária</b>.</p></div>
        </div> 
    </section>
    {% endblock %}

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/conversoes/main.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/conversoes/accordion.js') }}" type="module"></script>
    {% endblock %}